// =======================
// Fixes - From HTML5 BP
// ======================= */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing-polyfill.htc);
}

// Windows 8 Snap Mode Fix - http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@-ms-viewport{
    width: device-width;
}

//Uses classes assed by JS.
.mac h1,
.mac h2,
.mac h3,
.mac h4 {
  -webkit-font-smoothing: subpixel-antialiased;
}

// ==========================================================================
// Base Styles
// ========================================================================== */
// Hammer and CodeKit contains all of the Bourboun Mixins (http://bourbon.io/) 


/* @group Generic */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html, button, input, select, textarea {
    color: #222;
}

html {
	font-size: 62.5%; // (16 being the default font size for most browsers - I drop it down to 10) */
  line-height: 2.6em; // (26px line-height) */
	background: #4D3F30 url(/img/dbg.jpg) repeat top left;
	text-align: center;
	
	font-family: "Gill Sans", "Gill Sans MT", "prenton-1", "prenton-2", sans-serif;
	font-weight: 200;
}

body {
	font-size: 1.6rem; /* 16px */
}

h1 {
	font-size: 48px; font-size: 4.8rem;
	line-height: 52px; line-height: 5.2rem;
	font-weight: 200;
	margin: 0;
}

p {
	font-size: 16px; font-size: 1.6rem;
	margin: 0 0 26px 0;
	margin-bottom: 2.6rem;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

img {
    vertical-align: middle;
		max-width: 100%;
		position: relative;
}

header {
	width: 100%;
	border-bottom: 2px solid #211807;
	background: #C9C5A9 url(/img/lbg.jpg);
	
	padding-top: 52px;
	padding-top: 5.2rem;
}

header > a {
	display: block;
	
	width: 43%;
	max-width: 776px;
	min-width: 370px;
	height: 0;
	padding-bottom: 12%;
	background: url(/img/logo.png) no-repeat center center;
	background-size: contain;
	margin: 0 auto;
}

hgroup {
	margin: 39px 0 65px;
	margin: 3.9rem 0 6.5rem;
}

hgroup > p {
	font-size: 23px; font-size: 2.3rem;
	line-height: 52px; line-height: 5.2rem;
}
/* @end */
